// @use 'sass:list';

$nav-colors: (
  clr-nav-1: #21292c,
  clr-nav-2: #aa3e39,
  clr-nav-3: #aa6e39,
  clr-nav-4: #236267,
  clr-nav-5: #2c8437,
);

// Navigation Menu
.navigation-nation-overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $clr-black-970;
  transform: translateX(-100vw);

  nav {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      list-style: none;
      height: 100vh;
      margin: 0;
      padding: 0;

      li {
        height: 20%;
        overflow: hidden;

        a {
          display: block;
          position: relative;
          top: 45%;
          color: $clr-white-100;
          text-transform: uppercase;
          letter-spacing: 4px;
          text-decoration: none;
          text-align: center;
          cursor: pointer;
        }

        a::before {
          content: '';
          position: absolute;
          top: 47.5%;
          left: 0;
          width: 25vw;
          height: 3px;
          background: $clr-white-100;
          opacity: 0;
        }

        a:hover {
          transform: scale(1.2);
        }
        a:hover::before {
          opacity: 1;
        }
      }

      @for $number from 1 through length($nav-colors) {
        li:nth-of-type(#{$number}) {
          background: map-get($nav-colors, clr-nav-#{$number});
        }
      }
    }
  }
}

.navigation-nation-menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;

  @media (max-width: 600px) {
    top: 0.5rem;
    right: 1rem;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 2px;
    background-color: $clr-white-100;
    margin: 8px 0;
    transition: 0.4s;
  }
}

.main-navigation-nation {
  font-family: Nunito, sans-serif;

  section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $clr-white-100;
  }

  section#home {
    background-image: url('https://images.unsplash.com/photo-1581453904507-626ddb717f14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80');
    background-size: cover;
    background-position: center center;
  }

  section#home a {
    position: absolute;
    z-index: 2;
    top: 1.5rem;
    left: 1.5rem;
    text-decoration: none;
    font-size: 0.8rem;
    padding-bottom: 5px;
    color: $clr-white-100;
    border-bottom: 1px solid $clr-white-100;
    @media (max-width: 600px) {
      top: 1rem;
      left: 1rem;
    }
  }

  section#about {
    background-color: map-get($nav-colors, clr-nav-2);
  }

  section#skills {
    background-color: map-get($nav-colors, clr-nav-3);
  }

  section#projects {
    background-color: map-get($nav-colors, clr-nav-4);
  }

  section#contact {
    background-color: map-get($nav-colors, clr-nav-5);
  }
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}
