$clr-red-300: rgb(255, 92, 92);
$clr-red-400: #ff2d2d;

$clr-green-300: #03dac5;
$clr-green-400: #1b9999;

$clr-white-100: #fff;
$clr-white-200: #f3f3f3;
$clr-white-290: rgba(255, 255, 255, 0.9);

$clr-black-800: #121212;
$clr-black-900: #000;
$clr-black-950: rgba(0, 0, 0, 0.5);

$clr-grey-270: rgba(255, 255, 255, 0.7);
$clr-grey-400: rgb(66, 66, 66);
$clr-grey-470: rgba(66, 66, 66, 0.7);
$clr-grey-800: #333;

$clr-purple-300: #6c63ff;
$clr-purple-400: rgb(150, 65, 255);

$clr-blue-300: #45badd;

$clr-twitter: #38a1f3;
